.dashboardinfo{
    background-color: #444FA6;
    color: white;
}
.menucategorie .list-group .list-group-item{
    background-color: #444FA6;
    color: white;
    border-radius: 0;
}
.loading{
    color: #444FA6;
    border: solid 4px;
}
.userphoto {
    border-radius: 50%;
    width: 10vw; /* Adjust the value as needed */
    min-width: 70px;
    min-height: 70px;
    height: 10vw; /* Same value as width to maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the entire circle without stretching */
}
.icon{
    min-width: 15px;
    height: auto;

}
