



.containeraaa{
    background-color: #4A9AC3;
    color: white;


}








.container2.h1{
    font-size: 2.3rem;
    font-family: 'Poppins Semi-Bold', sans-serif;
    font-weight: 800;
    color: #2D185D;
}

