@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-SemiBold.ttf') format('truetype');
  /* You can add additional properties like font-weight, font-style, etc. here */
}
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Medium.ttf') format('truetype');
  /* You can add additional properties like font-weight, font-style, etc. here */
}


.card-img-communauté{
    position: absolute;
    top: 0;
    left: -65%;
    width: 7vw;
    min-width: 80px;
}
.card-body-communauté {
    position: relative;
    width: 15vw;
    margin-left: 40%;
    min-width: 150px;
  }
  
  .card-body-communauté::before,
  .card-body-communauté::after {
    content: '';
    position: absolute;
    border: 4px solid;
    border-color: #4A9AC3;
  }
  
  .card-body-communauté::before {
    top: -5%;
    right:0;
    width: 110%;
    height: 70%;
    border-radius: 0 50px 0 0;
    border-left: none;
    border-bottom: none;
  }
  
  .card-body-communauté::after {
    bottom: 0;
    left: 0;
    width: 120%;
    height: 70%;
    border-radius: 0 0 0 50px;
    border-top: none;
    border-right: none;
}
.apostrophe{
    position: absolute;
    left: -5%;
    top:0;
    width: 1vw;
    min-width: 12px;
}
.apostrophe1{
    position: absolute;
    left: 3%;
    top:0;
    width: 1vw;
    min-width: 12px;
}
.apostrophe2{
    transform: scaleX(-1);
    position: absolute;
    right: -2%;
    bottom:5%;
    width: 1vw;
    min-width: 12px;
}
.apostrophe3{
    transform: scaleX(-1);
    position: absolute;
    right: -10%;
    bottom:5%;
    width: 1vw;
    min-width: 12px;
}
.card-title-communauté{
  font-weight: bold;
  font-family: 'Poppins Semi-Bold', sans-serif;
  font-size: max(1.3vw , 12px);


}
.card-text-communauté{
  font-size: max(1vw , 12px);
  font-family: 'Poppins Semi-Bold', sans-serif;

}
.titrecommunauté{
  color: #311B61;
  font-family: 'Poppins Semi-Bold', sans-serif;
  font-weight: bold;
  font-size: max(2vw , 18px);

}
  
  
  