/* header.css */
.navbar .navbar-brand .logoimg {
    width: 10vw;
    height: auto;
    
}

.navbar .nav-item {
    font-size: 20px;
    color: black;
}

.navbar .nav-item a {
    transition: color 0.3s ease; 
}

.navbar .nav-item a.active {
    color: blue; 
}

.navbar .nav-item a:hover {
    color: blue;
}



.btn.login {
    background-color: #F0E637;
    min-width: 10vw;
    font-size: 1.3vw;
    border-radius: 15px;
    width: 6.56vw;
    height: auto;
}